USE [master]
GO
/****** Object:  Database [QuanLyNhaHang_K235480106033]    Script Date: 5/2/2026 12:42:46 PM ******/
CREATE DATABASE [QuanLyNhaHang_K235480106033]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhaHang_K235480106033', FILENAME = N'D:\sql\QuanLyNhaHang_K235480106033.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyNhaHang_K235480106033_log', FILENAME = N'D:\sql\QuanLyNhaHang_K235480106033_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhaHang_K235480106033].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhaHang_K235480106033]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTongTienHoaDon]    Script Date: 5/2/2026 12:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhTongTienHoaDon] (@MaHoaDon INT)
RETURNS MONEY
AS
BEGIN
    DECLARE @TongTien MONEY;

    -- Bước 2 + 3: Lấy dữ liệu và tính tổng
    SELECT @TongTien = SUM(SoLuong * DonGia)
    FROM ChiTietHoaDon
    WHERE MaHoaDon = @MaHoaDon;

    -- Bước 4: Nếu NULL thì = 0
    IF @TongTien IS NULL
        SET @TongTien = 0;

    -- Bước 5: Trả về kết quả
    RETURN @TongTien;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ThongKeBan]    Script Date: 5/2/2026 12:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ThongKeBan] (@Thang INT, @Nam INT)
RETURNS @KetQua TABLE
(
    MaBan VARCHAR(10),
    LoaiBan NVARCHAR(50),
    SoLanDat INT,
    DanhGia NVARCHAR(50)
)
AS
BEGIN
    -- Bước 2 + 3 + 4: Lấy dữ liệu và đếm số lần đặt
    INSERT INTO @KetQua (MaBan, LoaiBan, SoLanDat, DanhGia)
    SELECT 
        b.MaBan,
        b.LoaiBan,
        COUNT(db.MaDatBan) AS SoLanDat,
        N'' -- tạm thời
    FROM Ban b
    LEFT JOIN DatBan db 
        ON b.MaBan = db.MaBan
        AND MONTH(db.ThoiGianDat) = @Thang
        AND YEAR(db.ThoiGianDat) = @Nam
    GROUP BY b.MaBan, b.LoaiBan;

    -- Bước 5: Cập nhật phân loại
    UPDATE @KetQua
    SET DanhGia =
        CASE 
            WHEN SoLanDat >= 3 THEN N'Bàn Hot'
            WHEN SoLanDat BETWEEN 1 AND 2 THEN N'Bình thường'
            ELSE N'Ế - Cần khuyến mãi'
        END;

    -- Bước 6: Trả kết quả
    RETURN;
END;
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 5/2/2026 12:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [varchar](10) NOT NULL,
	[LoaiBan] [nvarchar](50) NULL,
	[SucChua] [int] NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatBan]    Script Date: 5/2/2026 12:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatBan](
	[MaDatBan] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaBan] [varchar](10) NOT NULL,
	[ThoiGianDat] [datetime] NOT NULL,
	[ThoiGianDen] [datetime] NULL,
	[TienCoc] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDatBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LichSuDatBan]    Script Date: 5/2/2026 12:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_LichSuDatBan] (@MaKhachHang INT)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        db.MaDatBan,
        b.LoaiBan,
        b.SucChua,
        db.ThoiGianDat,
        db.ThoiGianDen,
        db.TienCoc
    FROM DatBan db
    JOIN Ban b ON db.MaBan = b.MaBan
    WHERE db.MaKhachHang = @MaKhachHang
);
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 5/2/2026 12:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHoaDon] [int] NOT NULL,
	[MaMon] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [money] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/2/2026 12:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaBan] [varchar](10) NOT NULL,
	[MaKhachHang] [int] NULL,
	[ThoiGianVao] [datetime] NOT NULL,
	[ThoiGianRa] [datetime] NULL,
	[TongTien] [money] NULL,
	[TienHoanLai] [money] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/2/2026 12:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTenKhachHang] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[DiemDanhGia] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[DiemTichLuy] [int] NULL,
	[TienVoucher] [money] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuHD_2026_05]    Script Date: 5/2/2026 12:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuHD_2026_05](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaBan] [varchar](10) NOT NULL,
	[MaKhachHang] [int] NULL,
	[ThoiGianVao] [datetime] NOT NULL,
	[ThoiGianRa] [datetime] NULL,
	[TongTien] [money] NULL,
	[TienHoanLai] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 5/2/2026 12:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[MaMon] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](100) NOT NULL,
	[Gia] [money] NOT NULL,
	[LoaiMon] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](20) NULL,
 CONSTRAINT [PK_MonAn] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatBan] ADD  DEFAULT ((0)) FOR [TienCoc]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TienHoanLai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((5)) FOR [DiemDanhGia]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (N'Bình thường') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [TienVoucher]
GO
ALTER TABLE [dbo].[MonAn] ADD  DEFAULT (N'Còn') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_MonAn] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonAn] ([MaMon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_MonAn]
GO
ALTER TABLE [dbo].[DatBan]  WITH CHECK ADD FOREIGN KEY([MaBan])
REFERENCES [dbo].[Ban] ([MaBan])
GO
ALTER TABLE [dbo].[DatBan]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Ban] FOREIGN KEY([MaBan])
REFERENCES [dbo].[Ban] ([MaBan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Ban]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [CK_DonGia] CHECK  (([DonGia]>(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [CK_DonGia]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [CK_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [CK_SoLuong]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK_DiemDanhGia] CHECK  (([DiemDanhGia]>=(1) AND [DiemDanhGia]<=(5)))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK_DiemDanhGia]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [CK_GiaMon] CHECK  (([Gia]>(0)))
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [CK_GiaMon]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [CK_TrangThaiMon] CHECK  (([TrangThai]=N'Hết' OR [TrangThai]=N'Còn'))
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [CK_TrangThaiMon]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoKhachHangAnNhanh]    Script Date: 5/2/2026 12:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BaoCaoKhachHangAnNhanh]
AS
BEGIN
    SELECT 
        kh.HoTenKhachHang,
        kh.SoDienThoai,
        b.LoaiBan,
        hd.ThoiGianVao,
        hd.ThoiGianRa,
        DATEDIFF(MINUTE, hd.ThoiGianVao, hd.ThoiGianRa) AS SoPhut
    FROM HoaDon hd
    JOIN KhachHang kh ON hd.MaKhachHang = kh.MaKhachHang
    JOIN Ban b ON hd.MaBan = b.MaBan
    WHERE 
        b.LoaiBan IN (N'Bàn VIP', N'Bàn lớn')
        AND hd.ThoiGianRa IS NOT NULL
        AND DATEDIFF(MINUTE, hd.ThoiGianVao, hd.ThoiGianRa) <= 60
    ORDER BY SoPhut ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DatBanThanToc]    Script Date: 5/2/2026 12:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DatBanThanToc]
    @MaKhachHang INT,
    @LoaiBan NVARCHAR(50)
AS
BEGIN
    DECLARE @MaBan VARCHAR(10);

    -- Bước 2: Tìm bàn trống
    SELECT TOP 1 @MaBan = MaBan
    FROM Ban
    WHERE LoaiBan = @LoaiBan
        AND TrangThai = N'Trống';

    -- Bước 3: Kiểm tra
    IF @MaBan IS NOT NULL
    BEGIN
        -- Insert đặt bàn
        INSERT INTO DatBan (MaKhachHang, MaBan, ThoiGianDat, ThoiGianDen, TienCoc)
        VALUES (@MaKhachHang, @MaBan, GETDATE(), GETDATE(), 0);

        -- Update trạng thái bàn
        UPDATE Ban
        SET TrangThai = N'Đang sử dụng'
        WHERE MaBan = @MaBan;

        PRINT N'Đặt bàn thành công! Mã bàn: ' + @MaBan;
    END
    ELSE
    BEGIN
        PRINT N'Xin lỗi! Không còn bàn trống loại này.';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_QuayThuongGiamGia]    Script Date: 5/2/2026 12:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_QuayThuongGiamGia]
    @MaKhachHang INT,
    @PhanTramGiam INT OUTPUT
AS
BEGIN
    DECLARE @Diem INT;

    -- Bước 2: Lấy điểm đánh giá
    SELECT @Diem = DiemDanhGia
    FROM KhachHang
    WHERE MaKhachHang = @MaKhachHang;

    -- Bước 3: Xử lý logic
    IF @Diem = 5
    BEGIN
        SET @PhanTramGiam = FLOOR(RAND() * 21) + 20; -- 20 → 40
    END
    ELSE IF @Diem = 4
    BEGIN
        SET @PhanTramGiam = FLOOR(RAND() * 11) + 5; -- 5 → 15
    END
    ELSE
    BEGIN
        SET @PhanTramGiam = 0;
    END
END;
GO
USE [master]
GO
